<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.rajand.save">

    <application>
        <activity
            android:name=".ui.save.SaveActivity"
            android:label="@string/title_save"
            android:parentActivityName="com.rajand.nur.ui.surah.SurahActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="rajand"
                    android:host="save" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rajand.nur.ui.surah.SurahActivity" />
        </activity>
    </application>

    <dist:module
        dist:instant="false"
        dist:title="@string/title_save">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

</manifest>