<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rajand.nur">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_islamic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_islamic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nur">
        <activity
            android:name=".ui.detail.DetailSurahActivity"
            android:label="@string/title_detail_surah"
            android:parentActivityName=".ui.surah.SurahActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.surah.SurahActivity" />
        </activity>
        <activity
            android:name=".ui.surah.SurahActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>